body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbeefc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-container {
  width: 90vw;      /* 브라우저 가로폭의 80% */
  height: 80vh;     /* 브라우저 세로높이의 60% */
  background-color: #c393d6;
  border-radius: 15px;
  position: relative;
}

.todo-title {
  position: absolute;   /* 부모를 기준으로 위치 이동 가능 */
  top: 15vh;
  left: 3vw;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.todo-form {
  position: absolute;
  top: 30vh;
  left: 3vw;
  
}

.todo-input{
  position:fixed;
  font-size: 30px;
}

.todo-list{
  position: absolute;
  top: 10vh;
  left: 50vw;
  font-size: 20px;
}


.welcome-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-text{
    font-size: 48px;
    font-weight: bold;
}

.welcome-form input {
  width: 250px;
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  border: none;
  border-radius: 12px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.welcome-form input:focus {
  outline: none;
  background-color: #e0e0e0;
}


.date{
  position: fixed;
  left: 20px;
  top: 0px;
}

.weather{
  position: fixed;
  left: 20px;
  top: 50px;
  font-size: 20px;
}
.weather-condition-thunderstorm { color: aqua; }
.weather-condition-drizzle      { color: dodgerblue; }
.weather-condition-rain         { color: blue; }
.weather-condition-snow         { color: snow; }
.weather-condition-mist         { color: bisque; }
.weather-condition-smoke        { color: dimgray; }
.weather-condition-haze         { color: lightgray; }
.weather-condition-dust         { color: peru; }
.weather-condition-fog          { color: darkgrey; }
.weather-condition-sand         { color: goldenrod; }
.weather-condition-ash          { color: lightslategrey; }
.weather-condition-squall       { color: steelblue; }
.weather-condition-tornado      { color: crimson; }
.weather-condition-clear        { color: yellow; }
.weather-condition-clouds       { color: cornflowerblue; }

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none; /* 클릭 방지 */
  }
}

.hidden{
    display: none;
}
